{{ define "main" -}}
<main>
    <header>
        <h1>{{ if .Draft }}[DRAFT] {{ end }}{{ .Title | default .Site.Title }}</h1>
    </header>

    {{ .Content }}

    <section>
        {{ range first 10 .Data.Pages }}{{ if not .Draft }}
        <article>
            <header>
                <h2><a href="{{ .Permalink }}">{{ if .Draft }}[DRAFT] {{ end }}{{ .Title }}</a></h2>
            </header>
            {{ .Summary }}
        </article>
        {{ end }}{{ end }}
    </section>
</main>
{{- end }}
